<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true" internalLogLevel="info" internalLogFile="${basedir}/Logs/NLog.txt">
	<targets async="true">
		<target name="logdatabase" xsi:type="Database" keepConnection="false">
			<dbProvider>Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess</dbProvider>			
			<connectionString>data source=192.168.1.90; user id=DBCONTA; password=conta123;</connectionString>
			<commandText>
				insert into D_DC_LOG(LOG_ID, APPLICATION, LOG_LEVEL, MESSAGE, LOGGER, CALL_SITE, LOG_EXCEPTION,INNER_EXCEPTION,STACK_TRACE,ACTION_TYPE)
				values(SEC_DBC_LOG_ID.nextval, :APPLICATION, :LOG_LEVEL, :MESSAGE, :LOGGER, :CALL_SITE, :LOG_EXCEPTION,:INNER_EXCEPTION,:STACK_TRACE,:ACTION_TYPE)
			</commandText>
			<parameter name="APPLICATION" layout="WinService" />
			<parameter name="LOG_LEVEL" layout="${level}" />
			<parameter name="MESSAGE" layout="${message}" />
			<parameter name="LOGGER" layout="${logger}" />
			<parameter name="CALL_SITE" layout="${callsite}" />
			<parameter name="LOG_EXCEPTION" layout="${exception}" />
			<parameter name="INNER_EXCEPTION" layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
			<parameter name="STACK_TRACE" layout="${exception:format=StackTrace}" />
			<parameter name="ACTION_TYPE" layout="${event-properties:ActionType}" />
		</target>
	</targets>
	<rules>
		<!-- I am adding logging rules here -->
		<logger name="*" minlevel="Error" writeTo="logdatabase" />
	</rules>
</nlog>


